@use './variables' as *;

.scroll-fade {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-10%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.about {
  &__image {
    transition-delay: filter transform 200ms;
  }
  &__info--paragraph-1 {
    transition-delay: 400ms;
  }

  &__info--paragraph-2 {
    transition-delay: 600ms;
  }
}

.skills {
  &__title {
    transition-delay: 200ms;
  }

  &__info {
    transition-delay: 400ms;
  }

  &__svg--github {
    transition-delay: 600ms;
  }

  &__svg--html5 {
    transition-delay: 600ms;
  }

  &__svg--css3 {
    transition-delay: 800ms;
  }

  &__svg--javascript {
    transition-delay: 800ms;
  }

  &__svg--scss {
    transition-delay: 1000ms;
  }

  &__svg--bem {
    transition-delay: 1000ms;
  }

  &__svg--react {
    transition-delay: 1200ms;
  }

  &__svg--java {
    transition-delay: 1200ms;
  }

  &__svg--springboot {
    transition-delay: 1400ms;
  }
}

.main#blur.active {
  filter: blur(20px);
  pointer-events: none; // Cannot interact with element
  user-select: none; // Text cannot be selected
  position: relative;
}

#popup__projectone {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: $secondary-color;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  color: $primary-color;

  .portfolio__button {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

#popup__projectone.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;

}

@media screen and (min-width: 768px) {
  #popup__projectone{
    width: 600px;
  }
}
