@use "./variables" as *;

.head-section {
  height: 101vh;

  &__name {
    //Put name in the center, added Cormorant font
    text-align: center;
    font: 600 1.5rem $header-font;

    &--color {
      color: $secondary-color; //Pleasing color theme with second name
    }
  }

  &__navigation {
    //Mobile version doesnt have navigation buttons
    display: none;
  }

  &__subheader {
    font: 300 4.5rem $header-font;
    position: relative;
  }

  &__subheader::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border: 3px solid $secondary-color;
      width: 20.5%; // Underlines first two letters
    }

  &__info {
    font: 200 0.875rem/1.8 $paragraph-font;
    text-align: left;
    margin: 30px 0;
  }
}

@media screen and (min-width: 768px) {
  .head-section {
    margin-bottom: 100px;
    padding-right: 0; //Removing padding on the right here in order to make my navigation bar background reach the end of my screen
    //but keep the header/main padding on the right and left still existent.
    &__title {
      height: 100%;
      width: 100%;
    }
    

    &__name {
      height: calc(100% - 40px);
      font-size: 2rem;
      text-align: left;
      margin: 20px 0;
      display: flex;
      align-items: center;
    }

    &__navigation {
      height: 100%;
      width: 100%;
      display: block;
      background-color: $secondary-color;
      border-radius: 5px;

      .head-section__nav-list {
        height: calc(100% - 40px);
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        padding-left: 0; //Removing excess padding on left when this flex was called. Preferred this spacing
        align-items: center;
        margin: 20px 0;

        .head-section__nav-item {
          margin: 0 10px; //Margin to add space as nav bar li elements were right next to each other on flex
          align-self: center;

          .head-section__nav-link {
            text-decoration: none;
            color: $primary-color;
            font: 400 1rem $paragraph-font;
          }
        }
      }
    }

    &__subheader {
      margin: 90px 20px 30px 30px; //Increase margin size on top to make better looking spacing
      font-size: 5rem;
    }

    &__subheader::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 25px;
      border: 3px solid $secondary-color;
      width: 12%; // Underlines first two letters
    }

    &__info {
      margin: 20px 30px 30px; //Reduce margin size on top as 60px is too much space
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .head-section {
    &__name {
      font-size: 2.5rem;
    }

    &__subheader {
      font-size: 5.5rem;
      height: 200px;
      margin: 80px 0px 0px -30px; //-30px to generate more space on the right of text
      display: flex;
      align-items: center;
      padding-left: 40px;
    }

    &__subheader::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 10px;
      border: 3px solid $secondary-color;
      width: 10.5%;
      margin-left: 40px;
    }

    &__info {
      padding-left: 40px;
      margin: 70px 0 0;
    }

    .head-section__nav-list {

        .head-section__nav-item {

          .head-section__nav-link {
            font-size: 1.125rem;
          }
        }
      }
  }
}

@media screen and (min-width: 1440px) {
  .head-section {
    padding-left: 80px;
    position: relative;

    .head-section__name {
      font-size: 3rem;
    }

    &__info {
      font-size: 1.25rem;
    }

    &__navigation {
      border-radius: 5px;

      .head-section__nav-list {

        .head-section__nav-item {

          .head-section__nav-link {
            //should i put the invisible parent selectors nested above?
            font-size: 1.25rem;
          }
        }
      }
    }

    &__subheader {
      font-size: 7.5rem;
      padding-left: 30px;
      margin: 100px 0 30px;
      position: relative;
    }

    .head-section__subheader::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border: 3px solid $secondary-color;
      width: 6.5%; // Underlines first two letters
      margin-left: 30px;
    }

    &__info {
      padding-left: 70px;
      margin-top: 40px;
    }
  }
}
