/* Group 65 */

position: absolute;
width: 207px;
height: 55px;
left: 91px;
top: 3700px;



/* Group 31 */

position: absolute;
width: 55px;
height: 55px;
left: 167px;
top: 3700px;



/* Rectangle 9 */

position: absolute;
width: 55px;
height: 55px;
left: 167px;
top: 3700px;

/* White */
background: #FFFFFF;
border-radius: 44px;


/* ant-design:github-filled */

position: absolute;
width: 32px;
height: 32px;
left: 179px;
top: 3711px;



/* Vector */

position: absolute;
left: 6.25%;
right: 6.34%;
top: 7.45%;
bottom: 7.45%;

/* Black */
background: #000000;


/* Group 62 */

position: absolute;
width: 55px;
height: 55px;
left: 91px;
top: 3700px;



/* Group 29 */

position: absolute;
width: 55px;
height: 55px;
left: 91px;
top: 3700px;



/* Rectangle 9 */

position: absolute;
width: 55px;
height: 55px;
left: 91px;
top: 3700px;

/* White */
background: #FFFFFF;
border-radius: 44px;


/* cib:linkedin-in */

position: absolute;
width: 32px;
height: 32px;
left: 103px;
top: 3712px;



/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 0%;
bottom: 12.5%;

/* Black */
background: #000000;


/* Group 64 */

position: absolute;
width: 55px;
height: 55px;
left: 243px;
top: 3700px;



/* Group 63 */

position: absolute;
width: 55px;
height: 55px;
left: 243px;
top: 3700px;



/* Group 29 */

position: absolute;
width: 55px;
height: 55px;
left: 243px;
top: 3700px;



/* Rectangle 9 */

position: absolute;
width: 55px;
height: 55px;
left: 243px;
top: 3700px;

/* White */
background: #FFFFFF;
border-radius: 44px;


/* academicons:cv */

position: absolute;
width: 32px;
height: 32px;
left: 255px;
top: 3712px;



/* Vector */

position: absolute;
left: 1.56%;
right: 1.56%;
top: 22.52%;
bottom: 22.52%;

/* Black */
background: #000000;
