@use "./variables" as *;

.about {
  &__title {
    font: 600 2rem $header-font;
  }

  &__image {
    width: 100%; //Ensure image takes up full centre of its row
    height: auto; //Change to "width: 100;" once I replace placeholder
    margin: 19px 0;
  }

  &__info {
    font: 200 14px/1.8 $paragraph-font;
  }

  &__info--paragraph-1 {
    margin-top: 30px;
  }

  &__info--paragraph-2 {
    margin-bottom: 30px;
  }
}

.skills {
  //Skills section not in mobile sizing version
  display: none;
}

.portfolio {
  &__title {
    font: 600 2rem $header-font;
    margin: 40px 0 25px;
  }

  &__text {
    font: 1.5rem $header-font;
    margin-bottom: 50px;
  }

  &__project {
    width: 100%;
    height: auto;
  }

  &__button {
    border: 2px none $secondary-color;
    border-radius: 40px;
    width: 70px;
    height: 30px;
    justify-self: flex-start;
    margin: auto 10px;
    font-family: $paragraph-font;
    background-color: $secondary-color;
    color: $primary-color;
  }

  &__project--four,
  &__project--five,
  &__project--six,
  &__text--four,
  &__text--five,
  &__text--six,
  &__button--four,
  &__button--five,
  &__button--six {
    display: none;
  }
}

.contact {
  &__title {
    font: 300 64px $header-font;
    text-align: center;
    margin-top: 35px;
  }

  &__button {
    border: 1px solid $white-color;
    background-color: $primary-color;
    color: $white-color;
    width: 225px;
    height: 60px;
    font: 500 16px $paragraph-font;
    margin: 0 auto 60px;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding-right: 20px;
  }

  .about {
    &__title {
      margin: 32px 0;
    }

    &__image {
      height: 300px;
      width: auto;
    }

    &__info {
      font: 200 16px/1.5 $paragraph-font;
    }

    &__info--paragraph-1 {
      margin: 32px 0 0 -20px;
    }

    &__info--paragraph-2 {
      margin-top: 31px;
    }
  }

  .skills {
    display: block;

    &__title {
      font: 600 2rem $header-font;
    }

    &__info {
      font: 200 16px/1.5 $paragraph-font;
      margin-top: 30px;
    }

    &__svg {
      //give svgs a grid
      fill: $secondary-color;
    }
  }

  .portfolio {
    &__title {
      font-size: 2rem; //REMOVE/CHANGE THIS LINE LATER
    }

    &__project {
      width: auto;
      height: auto;
    }

    &__text {
      margin: 10px 0 40px;
    }

    &__project {
      width: 85%;
    }

    &__button {
      margin: 10px 0 0;
    }

    &__project--four,       // turning my mobile 1x3 grid to 2x2 grid
    &__text--four,
    &__button--four {
      display: initial;
    }
  }

  .contact {
    padding-right: 30px;

    &__title {
      font-size: 80px;
      margin-bottom: 65px;
    }

    &__button {
      width: 300px;
      height: 70px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .about {
    &__title {
      margin: auto 0;
    }

    &__image {
      height: 500px;
      width: 300px;
      margin: 0 auto;
    }

    &__info--paragraph-1 {
      margin: 60px 0 0;
      width: 90%;
    }

    &__info--paragraph-2 {
      margin: 0 0 30px;
      width: 90%;
    }
  }

  .skills {
    height: 300px;

    &__title {
      margin: 0;
    }

    &__info {
      margin: 0;
    }

    &__svg {
      margin: 20px auto 0;
    }
  }

  .portfolio {
    &__project {
      width: 100%;
      height: 200px;
    }

    &__project--five,
    &__project--six,
    &__text--five,
    &__text--six,
    &__button--five,
    &__button--six {
      display: initial;
    }
  }

  .contact {
    &__title {
      font-size: 112px;
      margin: 70px;
    }

    &__button {
      width: 450px;
      height: 80px;
    }
  }
}

@media screen and (min-width: 1440px) {
  //Increase title size to 3rem, info size to 18px
  .about {
    &__title {
      font-size: 3rem;
    }

    &__info {
      font-size: 18px;
    }

    &__info--paragraph-2 {
      padding-top: 30px;
    }
  }

  .skills {
    margin-bottom: 100px;

    &__title {
      font-size: 3rem;
    }

    &__info {
      font-size: 18px;
    }
  }

  .portfolio {
    margin-right: 30px;
    &__title {
      font-size: 3rem;
      margin-bottom: 40px;
    }

    &__project {
      height: 250px;
    }

    &__text {
      margin-bottom: 40px;
      color: $secondary-color;
    }

    // &__button {
    //   border: 2px solid $secondary-color;
    //   border-radius: 5px;
    //   width: 35%;
    //   height: 30%;
    //   justify-self: flex-start;
    //   margin-top: 10px;
    //   font-family: $paragraph-font;
    //   background-color: $primary-color;
    //   color: $secondary-color;
    // }
  }

  .contact {
    margin: 100px 0;
  }
}
