@use "./variables" as *;

.about {
  &__title {
    font: 600 2rem $header-font;
  }

  &__image {
    width: 100%; //Ensure image takes up full centre of its row
    height: auto; //Change to "width: 100;" once I replace placeholder
    margin: 19px 0;
  }

  &__info {
    font: 200 14px/1.5 $paragraph-font;
  }

  &__info--paragraph-1 {
    margin-top: 30px;
  }

  &__info--paragraph-2 {
    margin-bottom: 30px;
  }
}

.skills {
  //Skills section not in mobile sizing version
  display: none;
}

.portfolio {
  &__title {
    font: 600 2rem $header-font;
    margin: 40px 0 25px;
  }

  &__text {
    font: 1.5rem $header-font;
    margin-bottom: 50px;
  }

  &__project {
    width: 100%;
    height: auto;
  }

  &__project--four {
    display: none;
  }

  &__text--four {
    display: none;
  }

  &__project--five {
    display: none;
  }

  &__text--five {
    display: none;
  }

  &__project--six {
    display: none;
  }

  &__text--six {
    display: none;
  }
}

.contact {
  &__title {
    font: 300 64px $header-font;
    text-align: center;
    margin-top: 35px;
  }

  &__button {
    border: 1px solid $white-color;
    background-color: $primary-color;
    color: $white-color;
    width: 225px;
    height: 60px;
    font: 500 16px $paragraph-font;
    margin: 0 auto 60px;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding-right: 20px;
  }

  .about {
    &__title {
      margin: 32px 0;
    }

    &__image {
      height: 300px;
      width: auto;
    }

    &__info {
      font: 300 16ox;
    }

    &__info--paragraph-1 {
      margin: 32px 0 0 50px;
      
    }

    &__info--paragraph-2 {
      margin-top: 31px;
    }
  }

  .skills {
    display: block;

    &__title {
      font: 600 2rem $header-font;
    }

    &__info {
      font: 200 14px/1.5 $paragraph-font;
      margin-top: 30px;
      
    }

    &__svg {
      //give svgs a grid
      fill: $secondary-color;
    }
  }

  .portfolio {
    &__title {
      font-size: 2rem; //REMOVE/CHANGE THIS LINE LATER
    }

    &__project {
      width: auto;
      height: auto;
    }

    &__text {
      margin: 10px 0;
    }

    &__project--four {
      display: initial;
    }

    &__text--four {
      display: initial;
    }
  }

  .contact {
    padding-right: 30px;

    &__title {
      font-size: 80px;
      margin-bottom: 65px;
    }

    &__button {
      width: 300px;
      height: 70px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .about {
    &__title {
      margin: auto 0;
    }

    &__image {
      height: 500px;
      width: 300px;
      margin: 0 auto;
    }

    &__info--paragraph-1 {
      margin: 60px 0 0;
      width: 90%;
    }

    &__info--paragraph-2 {
      margin: 0 0 30px;
      width: 90%;
    }
  }

  .skills {
    height: 300px;

    &__title {
      margin: 0;
    }

    &__info {
      margin: 0;
    }

    &__svg {
      margin: 20px auto 0;
    }
  }

  .portfolio {
    &__project {
      width: 100%;
      height: 200px;
    }

    &__project--five {
      display: initial;
    }

    &__text--five {
      display: initial;
    }

    &__project--six {
      display: initial;
    }

    &__text--six {
      display: initial;
    }
  }

  .contact {
    &__title {
      font-size: 112px;
      margin: 70px;
    }

    &__button {
      width: 450px;
      height: 80px;
    }
  }
}

@media screen and (min-width: 1440px) {
  //Increase title size to 3rem, info size to 18px
  .about {
    &__title {
      font-size: 3rem;
    }
  }

  .skills {
    margin-bottom: 100px;

    &__title {
      font-size: 3rem;
    }

    &__info {
      font-size: 18px;
    }
  }

  .portfolio {
    margin-right: 30px;
    &__title {
      font-size: 3rem;
      margin-bottom: 40px;
    }

    &__project {
      height: 250px;
    }

    &__text {
      margin-bottom: 40px;
    }

    &__view{
      justify-self: end;

      &--color {
        fill: $secondary-color;
      }

      &--color-2 {
        fill: $primary-color;
      }
    }
  }

  .contact {
    margin: 100px 0;
    
  }
}
