@use "./variables" as *;

.about {
  &__title {
    font: 600 2rem $header-font;
    position: relative;
  }

  &__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    border: 3px solid $secondary-color;
    width: 11.5%;
  }

  &__image {
    width: 296px; //Ensure image takes up full centre of its row
    height: 250px; //Change to "width: 100;" once I replace placeholder
    object-fit: cover;
    object-position: 50% 70%;
    margin: 19px 0;
    border-radius: 25px;
    border: 3px solid $secondary-color;
  }

  &__info {
    font: 200 14px/1.8 $paragraph-font;
  }

  &__info--paragraph-1 {
    margin-top: 5px;
  }

  &__info--paragraph-2 {
    margin-bottom: 14px;
  }
}

.skills {
  //Skills section not in mobile sizing version
  display: none;
  height: 101vh;
  position: relative;
}

.portfolio {
  &__title {
    font: 600 2rem $header-font;
    margin: 40px 0 25px;
    position: relative;
  }

  &__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    border: 2px solid $secondary-color;
    width: 13%;
  }

  &__text {
    font: 1.5rem $header-font;
    margin-bottom: 50px;
  }

  &__project {
    height: 295px;
    width: 295px;
    object-fit: cover;
    object-position: top;
    border: 3px solid $secondary-color;
    border-radius: 10px;
  }

  &__button {
    border: 2px none $secondary-color;
    border-radius: 40px;
    width: 55px;
    height: 30px;
    justify-self: flex-start;
    margin: 24px 0 0;
    font-family: $paragraph-font;
    background-color: $secondary-color;
    color: $primary-color;
  }

  &__project--four,
  &__project--five,
  &__project--six,
  &__text--four,
  &__text--five,
  &__text--six,
  &__button--four,
  &__button--five,
  &__button--six {
    display: none;
  }
}

.contact {
  height: 100vh;
  &__title {
    font: 300 4rem $header-font;
    text-align: center;
    margin-top: 35px;
  }

  &__text {
    font: 1rem $paragraph-font;
    text-align: center;
  }

  &__button {
    border: 1px solid $white-color;
    background-color: $primary-color;
    color: $white-color;
    width: 225px;
    height: 60px;
    font: 500 1rem $paragraph-font;
    margin: 0 auto 60px;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding-right: 20px;
  }

//   .main-container {
//   overflow-y: scroll;
//   scroll-snap-type: y mandatory;
//   height: 100vh;
//   }

// .head-section,
// .about,
// .portfolio {
//   scroll-snap-align: start;
// }

  .about {
    margin-bottom: 310px;
    &__title {
      font-size: 2.25rem;
      margin: 32px 0;
    }

    &__title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      border: 2px solid $secondary-color;
      width: 6%;
    }

    &__image {
      height: 300px;
      width: 100%;
    }

    &__info {
      font: 200 1rem/1.5 $paragraph-font;
    }

    &__info--paragraph-1 {
      margin: auto 0 auto 40px;
    }

    &__info--paragraph-2 {
      margin-top: 31px;
    }
  }

  .skills {
    display: inline-block;

    &__title {
      font: 600 2.25rem $header-font;
      position: relative;
    }

    &__title::after {
      content: "";
      position: absolute;
      left: 0;
      top: 100%;
      border: 2px solid $secondary-color;
      width: 5.5%;
    }

    &__info {
      font: 200 1rem/1.5 $paragraph-font;
      margin-top: 30px;
    }

    &__svg {
      fill: $secondary-color;
      margin: 0 auto ;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; 
    }

    &__svg:hover {
      transform: scale(1.2);
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
      transition-delay: 0s;
      transition-duration: 200ms;
    }

    &__svg--html5,
    &__svg--javascript,
    &__svg--bem,
    &__svg--java {
      margin-top: -80px;
    }
  }

  .portfolio {
    &__title {
      font-size: 2.25rem; //REMOVE/CHANGE THIS LINE LATER
    }

    &__title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      border: 2px solid $secondary-color;
      width: 6%;
    }

    &__project {
      height: 250px;
    }

    &__text {
      margin: 10px 0 40px;
      font-size: 1.75rem;
    }

    &__project {
      width: 85%;
    }

    &__button {
      margin: 10px 0 0;
    }

    &__project--four,       // turning my mobile 1x3 grid to 2x2 grid
    &__text--four,
    &__button--four {
      display: initial;
    }
  }

  .contact {
    padding-right: 30px;

    &__title {
      font-size: 5rem;
      margin-bottom: 65px;
    }

    &__button {
      width: 300px;
      height: 70px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .about {
    padding-top: 50px;
    &__title {
      font-size: 2.5rem;
      margin: auto 0;
      // padding-top: 2rem;
    }

    &__title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      border: 3px solid $secondary-color;
      width: 5%;
    }

    &__image {
      height: auto;
      width: 80%;
      margin: auto auto;
      margin-top: 50px;
    }

    &__info--paragraph-1 {
      margin: auto auto;
      width: 90%;
    }

    &__info--paragraph-2 {
      margin: auto auto;
      width: 90%;
    }
  }

  .skills {

    &__title {
      font-size: 2.5rem;
      position: relative;
    }

    &__title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -40px;
      border: 2px solid $secondary-color;
      width: 18.5%;
    }

    &__info {
      margin: 48px 0;
    }

    &__svg {
      margin: 0 auto ;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      
    }

    &__svg:hover {
      transform: scale(1.2);
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    }
  }

  .portfolio {
    padding-right: 30px;
    height: 101vh;

    &__title {
      font-size: 2.5rem;
    }

    &__title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      border: 2px solid $secondary-color;
      width: 5%;
    }

    &__project {
      width: 100%;
      height: 200px;
    }

    &__button {
      width: 55px;
    }

    &__project--five,
    &__project--six,
    &__text--five,
    &__text--six,
    &__button--five,
    &__button--six {
      display: initial;
    }
  }

  .contact {
    &__title {
      font-size: 7rem;
      margin: 70px;
    }

    &__button {
      width: 450px;
      height: 80px;
    }
  }
}

@media screen and (min-width: 1440px) {
  //Increase title size to 3rem, info size to 18px
  .about {
    position: relative;
    &__title {
      font-size: 3rem;
      position: relative;
    }

    &__title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      border: 2px solid $secondary-color;
      width: 4%; // Underlines first two letters
    }

    &__info {
      font-size: 1.125rem;
    }

    &__image {
      height: 600px;
      margin: auto auto;
    }
  }

  .skills {
    margin-bottom: 100px;
    position: relative;

    &__title {
      font-size: 3rem;
      position: relative;
    }

    &__title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 25px;
      border: 3px solid $secondary-color;
      width: 15%; // Underlines first two letters
    }

    &__info {
      font-size: 1.125rem;
    }
  }

  .portfolio {
    margin-right: 30px;
    position: relative;
    &__title {
      font-size: 3rem;
      margin-bottom: 40px;
      position: relative;
    }

    &__title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      border: 3px solid $secondary-color;
      width: 4.5%; // Underlines first two letters
    }

    &__project {
      height: 250px;
    }

    &__text {
      margin-bottom: 40px;
      color: $secondary-color;
      font-size: 2rem;
    }

    &__button {
      width: 70px;
    }

    // &__button {
    //   border: 2px solid $secondary-color;
    //   border-radius: 5px;
    //   width: 35%;
    //   height: 30%;
    //   justify-self: flex-start;
    //   margin-top: 10px;
    //   font-family: $paragraph-font;
    //   background-color: $primary-color;
    //   color: $secondary-color;
    // }
  }

  .contact {
    margin: 100px 0;
  }
}
