@use './variables' as *;

.main#blur.active {
  filter: blur(20px);
  pointer-events: none; // Cannot interact with element
  user-select: none; // Text cannot be selected
  position: relative;
}

#popup__projectone {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: $secondary-color;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  color: $primary-color;

  .portfolio__button {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

#popup__projectone.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

#popup__buttonone {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: $secondary-color;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  color: $primary-color;

  .portfolio__button {
    background-color: $primary-color;
    color: $secondary-color;
  }

  .portfolio__button--git {
    width: 80px;
  }
}

#popup__buttonone.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;

}

@media screen and (min-width: 768px) {
  #popup__projectone{
    width: 600px;
  }
}
