@use './reset' as *;
@use './variables' as *;
@use './header';
@use './grid';
@use './main';
@use './footer';

body {
  background-color: $primary-color;  //Coffee theme
  color: $white-color;
  padding: 0;
  margin: 0;
}

header,
main {
  padding: 0 25px;  //Added padding to whole body as I was repeatedly adding 15px padding to each element
}                   //Did not add to footer as footer must cover the entire width

@media screen and (min-width: 768px) {
  header,
  main {
    padding: 0 50px;
  }
}
